<a href="https://colab.research.google.com/github/Mayuri-thatikonda/Exercise/blob/main/Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset=pd.read_csv('exercise_dataset.csv')

In [4]:
dataset.head()

  Activity, Exercise or Sport (1 hour)  130 lb  ...  205 lb  Calories per kg
0          Cycling, mountain bike, bmx     502  ...     791         1.750730
1  Cycling, <10 mph, leisure bicycling     236  ...     372         0.823236
2             Cycling, >20 mph, racing     944  ...    1489         3.294974
3          Cycling, 10-11.9 mph, light     354  ...     558         1.234853
4       Cycling, 12-13.9 mph, moderate     472  ...     745         1.647825

[5 rows x 6 columns]

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 6 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Activity, Exercise or Sport (1 hour)  248 non-null    object
 1   130 lb                                248 non-null    int64
 2   155 lb                                248 non-null    int64
 3   180 lb                                248 non-null    int64
 4   205 lb                                248 non-null    int64
 5   Calories per kg                       248 non-null    float64
dtypes: float64(1), int64(4), object(1)
memory usage: 11.8+ KB

In [8]:
dataset.columns

Index(['Activity, Exercise or Sport (1 hour)', '130 lb', '155 lb', '180 lb',
       '205 lb', 'Calories per kg'],
      dtype='object')

In [6]:
dataset.describe()

            130 lb       155 lb       180 lb       205 lb  Calories per kg
count   248.000000   248.000000   248.000000   248.000000       248.000000
mean    389.754032   464.689516   539.685484   614.620968         1.359930
std     194.434028   232.019135   269.430029   306.847470         0.678851
min      89.000000   106.000000   123.000000   140.000000         0.310067
25%     236.000000   281.000000   327.000000   372.000000         0.823236
50%     354.000000   422.000000   490.000000   558.000000         1.234853
75%     472.000000   563.000000   654.000000   745.000000         1.647825
max    1062.000000  1267.000000  1471.000000  1675.000000         3.706591

In [7]:
dataset.isnull().sum()

Activity, Exercise or Sport (1 hour)    0
130 lb                                  0
155 lb                                  0
180 lb                                  0
205 lb                                  0
Calories per kg                         0
dtype: int64

In [9]:
dataset.rename(columns={'Activity, Exercise or Sport (1 hour)': '1 hour exercise'},inplace=True)
dataset.head()

                       1 hour exercise  130 lb  ...  205 lb  Calories per kg
0          Cycling, mountain bike, bmx     502  ...     791         1.750730
1  Cycling, <10 mph, leisure bicycling     236  ...     372         0.823236
2             Cycling, >20 mph, racing     944  ...    1489         3.294974
3          Cycling, 10-11.9 mph, light     354  ...     558         1.234853
4       Cycling, 12-13.9 mph, moderate     472  ...     745         1.647825

[5 rows x 6 columns]

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['1 hour exercise'] = le.fit_transform(dataset['1 hour exercise'])
print(dataset)

     1 hour exercise  130 lb  155 lb  180 lb  205 lb  Calories per kg
0                 61     502     598     695     791         1.750730
1                 59     236     281     327     372         0.823236
2                 60     944    1126    1308    1489         3.294974
3                 55     354     422     490     558         1.234853
4                 56     472     563     654     745         1.647825
..               ...     ...     ...     ...     ...              ...
243               73     207     246     286     326         0.721008
244               40     148     176     204     233         0.515199
245              207     177     211     245     279         0.617427
246              232     236     281     327     372         0.823236
247              208     236     281     327     372         0.823236

[248 rows x 6 columns]

In [13]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:,-1]

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [19]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
print(y_pred)
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

[0.82 0.62 0.52 0.62 1.65 1.23 3.09 1.03 1.03 1.44 1.65 1.65 0.89 0.82
 0.82 2.06 0.72 2.06 0.72 0.72 0.82 0.72 1.34 1.65 2.88 1.65 1.65 2.06
 0.52 2.06 2.06 0.62 2.57 0.62 2.47 2.06 1.75 1.44 2.57 1.3  1.65 0.93
 1.85 1.23 1.65 1.44 0.89 0.82 1.85 0.72]

1.0

In [25]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
print(y_pred)
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

[0.82 0.62 0.52 0.62 1.65 1.23 3.04 1.03 1.03 1.44 1.65 1.65 0.93 0.82
 0.82 2.06 0.72 2.06 0.72 0.72 0.82 0.72 1.34 1.65 2.87 1.65 1.65 2.06
 0.52 2.06 2.06 0.62 2.65 0.62 2.62 2.06 1.74 1.44 2.65 1.34 1.65 0.93
 1.85 1.23 1.65 1.44 0.93 0.82 1.85 0.72]

0.9981910444392281